body {
	background: #efeff3;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #212121;
}
.wrapper {
	position: relative;
	clear: both;
	margin: 0 auto 75px auto;
	width: 100%;
	overflow: hidden;
}
.top {
	background: #1878c7;
	height: 180px;
	border-top: 20px solid #0a9ca3;
}

.top .title {
	width: 700px;
	margin: 38px auto 0 auto;
}

.title h1 {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
}

.content {
	padding-bottom: 20px;
}

.content .card.first {
	margin-top: -80px;
}

.card {
	position: relative;
	background: #fff;
	padding: 50px;
	width: 600px;
	margin: 20px auto 0 auto;
	box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
}

.card h2 {
	font-size: 21px;
	font-weight: 500;
}

.card h2 a {
	color: #1878c7;
	font-weight: bolder;
	text-decoration: none;
}

.card .date {
	color: #9e9e9e;
	margin-top: 10px;
	font-size: 14px;
}

.card .text {
	color: #212121;
	margin-top: 20px;
	font-size: 15px;
	line-height: 22px;
}

.iconoRSS {
	width: 50px;
	height: 50px;
	border: 2px solid #000000;
	border-radius: 15%;
	position: relative;
	left: 10%;
}

.iconoRSS:hover {
	border: 2px solid #ffa500;
	animation: beat 1s infinite alternate;
}

@keyframes beat {
	to {
		transform: scale(1.4);
	}
}
